<% include ./layout/head %>

<link rel='stylesheet' href='/css/board.css' />
<script type="text/javascript" src="/library/smarteditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>

<% include ./layout/header %>
<% include ./layout/board_navigation %>


<div id="boardWrite" class="board_common">
    <div class="write_form">
        <form id="modifyAction" action="/faq?mode=modify" method="post" enctype="multipart/form-data">
            <div class="ca_select">
                <select class="modCategory" id="modFaqCategory" name="modFaqCategory">
                    <option value="입출금">입출금</option>
                    <option value="거래">거래</option>
                    <option value="수수료">수수료</option>
                    <option value="인증/보안">인증/보안</option>
                    <option value="개인정보">개인정보</option>
                    <option value="회원가입/탈퇴">회원가입/탈퇴</option>
                </select>
            </div>
            <ul class="frm_info">
                <li>
                    <input type="text" class="modFaqSubject" id="modFaqSubject" name="modFaqSubject" placeholder="제목" value="<%=content.title%>">
                </li>
                <li>
                    <input type="password" class="inputPassword" id="modFaqPassword" name="modFaqPassword" placeholder="비밀번호">
                </li>
            </ul>
            <div class="frm_cont">
                <textarea class="textFaqContents" id="modFaqContents" name="modFaqContents" rows="20" cols="80">
                    <%=content.contents%>
                </textarea>
            </div>
            <input type="hidden" id="modFaqId" name="modFaqId" value="<%=content._id%>">
        </form>
        <div class="btn_wrap">
            <ul>
                <li>
                    <a onclick="modifySubmitContents();" class="btn btn_submit btn_medium">수정하기</a>
                </li>
                <li>
                    <a onclick="javascript:history.go(-1);" class="btn btn_cancel btn_medium">취소</a> <!-- 뒤로가기 넣기 -->
                </li>
            </ul>
        </div>
    </div>
</div>

<% include ./layout/footer %>
    
    
    <script src="js/site.js"></script>
    <script src="js/lib/growl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script type="text/babel" src="js/BBscript.js"></script>

    <!-- AlphaPoint -->
    <script src="js/config.js"></script>
    <script src="js/library.min.js"></script>
    <script src="js/widgets.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/yong.js"></script>
    <script type="text/javascript">
        AlphaPoint.config.templateStyle = 'retail'
        boardLevChk();
    </script>


    <script type="text/javascript">
    var oEditors = [];

    var sLang = "ko_KR";  


    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "modFaqContents",
        sSkinURI: "/library/smarteditor/SmartEditor2Skin.html",  
        htParams : {
            bUseToolbar : true,            
            bUseVerticalResizer : true,    
            fOnBeforeUnload : function(){
            },
            I18N_LOCALE : sLang
        }, 
        fOnAppLoad : function(){
        },
        fCreator: "createSEditor2"
    });

    function pasteHTML() {
        var sHTML = "<span style='color:#FF0000;'>이미지도 같은 방식으로 삽입합니다.<\/span>";
        oEditors.getById["modFaqContents"].exec("PASTE_HTML", [sHTML]);
    }

    function showHTML() {
        var sHTML = oEditors.getById["modFaqContents"].getIR();
        alert(sHTML);
    }


    function checkPW(inputPassword){
        var result = '';

        $.ajax({
            url: '/faqPassword/?id=<%=content._id%>',
            async: false,
            success: function(password) {
                if(inputPassword == password) result = true;
                else result = false;
            }
        });
        return result;
    }

    function modifySubmitContents(elClickedObj) {
        oEditors.getById["modFaqContents"].exec("UPDATE_CONTENTS_FIELD", []);
        var title = $('#modFaqSubject').val();
        var content = $('#modFaqContents').val();
        var inputPassword = $('#modFaqPassword').val();

        var chkpw = checkPW(inputPassword);

        if(chkpw == true) {
            if (title == '' || content == '') {
                alert("제목과 내용 모두 있어야합니다.");
                return;
            } else {
                $('#modifyAction').submit();
            }
        } else {
            alert("글 작성 시 입력한 비밀 번호를 입력해주세요");
            return;
        }
    }

    function setDefaultFont() {
        var sDefaultFont = '궁서';
        var nFontSize = 24;
        oEditors.getById["modContents"].setDefaultFont(sDefaultFont, nFontSize);
    }
    </script>

</body>
</html>