<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<staticContent>
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<mimeMap fileExtension=".m4v" mimeType="video/m4v" />
			<mimeMap fileExtension=".ogg" mimeType="video/ogg" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<mimeMap fileExtension=".oga" mimeType="audio/ogg" />
			<mimeMap fileExtension=".spx" mimeType="audio/ogg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		</staticContent>
		<rewrite>
		  <rules>
		   <rule name="Redirect to https">
			<match url="(.*)"/>
			<conditions>
			 <add input="{HTTPS}" pattern="Off"/>
			</conditions>
			<action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
		   </rule>
		  </rules>
		 </rewrite>
    </system.webServer>
</configuration>
