.page_list {
	width: 1100px;
	margin: 60px auto 0;
	overflow: hidden;
}
.page_list ul {
	width: 100%;
	overflow: hidden;
}
.page_list ul li {
	width: 16.66%;
	float: left;
	font-family: 'NanumSquare';
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 15px;
	padding: 0 0 5px;
}
.page_list ul li.active {
	border-bottom: 2px solid #003366;
}
.page_list ul li a {
	color: #666;
}
.page_list ul li.active a {
	color: #003366;
	font-weight: 900;
}

.board_common {
	width: 1100px;
	min-height: 500px;
	margin: 0 auto 100px;
}

.board_common .category_list {
}
.board_common .category_list ul {
	height: 42px;
	background: #e4edf7;
	overflow: hidden;
	text-align: center;
}
.board_common .category_list ul li {
	font-size: 19px;
	line-height: 42px;
	font-weight: 500;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 -4px;
}
/*.board_common .category_list {
	width: 100%;
}
.board_common .category_list ul {
	display: flex;
	justify-content: center;
	background: #e4edf7;
}
.board_common .category_list ul li {
	width: 25%;
	font-size: 17px;
	font-family: 'NanumSquare';
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
}*/
#boardList .category_list ul li {
	width: 25%;
}
#boardView .category_list ul li {
	width: 25%;
}
.board_common .category_list ul li a {
	width: 100%;
	display: block;
	color: #666;
	line-height: 42px;
	font-weight: 400;
}
.board_common .category_list ul li.active a {
	color: #003366;
	font-weight: 700;
}
.board_common .search_wrap {
	width: 100%;
	overflow: hidden;
	padding: 60px 0;
}
.board_common .search_wrap > div {
	display: table;
	margin: 0 auto;
}
.board_common .search_wrap input {
	width: 360px;
	height: 42px;
	float: left;
	box-sizing: border-box;
	text-indent: 10px;
	font-size: 16px;
	outline: none;
}
.board_common .search_wrap a {
	/*width: 80px;
	height: 50px;
	background: #003366;
	color: #fff;
	display: block;
	float: left;
	text-align: center;*/
	width: 50px;
	height: 42px;
	background: #003366;
	color: #fff;
	display: block;
	float: left;
	text-align: center;
}
.board_common .search_wrap a i {
	line-height: 42px;
	font-size: 22px;
}
#boardList .notice_wrap {
	width: 100%;
	overflow: hidden;
}
#boardList .notice_wrap .bo_navi {
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid #003366;
	padding: 0 0 10px;
	box-sizing: border-box;
}
#boardList .notice_wrap .bo_navi p {
	/*font-size: 17px;
	font-weight: bold;
	font-family: 'NanumSquare';*/
	font-size: 15px;
	color: #454545;
}
#boardList .notice_wrap .bo_navi p strong {
	font-weight: normal;
}
#boardList .notice_wrap table {
	width: 100%;
	overflow: hidden;
}
#boardList .notice_wrap table tr td {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}
#boardList .notice_wrap table tr .ca_name {
	width: 150px;
	font-size: 14px;
	color: #222;
	text-align: center;
}
#boardList .notice_wrap table tr .title {
	font-size: 15px;
	word-break: break-all;

}
#boardList .notice_wrap table tr .title span {
	width: 800px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
#boardList .notice_wrap table tr .title a {
	color: #555;
}
#boardList .notice_wrap table tr .title a:hover {
	color: #003366;
}
#boardList .notice_wrap table tr .date {
	width: 150px;
	text-align: right;
	font-size: 13px;
	color: #888;
}
.board_common .pagination {
	width: 100%;
	overflow: hidden;
	margin: 50px 0 30px;
	text-align: center;
}
.board_common .pagination a {
	margin: 0 5px;
	color: #666;
}
.board_common .pagination a.current-page {
	color: #003366;
	font-weight: 900;
}
.board_common .btn_wrap {
	width: 100%;
	overflow: hidden;
}
.board_common .btn_wrap a {
	float: right;
}



/* WRITE */
#boardWrite {
	width: 100%;
	overflow: hidden;
}
#boardWrite .write_form {
	width: 900px;
	margin: 40px auto 0;
}
#boardWrite .write_form select {
	width: 220px;
	height: 34px;
	border: 1px solid #aaa;
	box-sizing: border-box;
}
#boardWrite .write_form .frm_info {
	width: 100%;
	overflow: hidden;
	margin: 20px 0;
}
#boardWrite .write_form .frm_info li:first-child {
	margin: 0 0 20px;
}
#boardWrite .write_form .frm_info .modSubject,
#boardWrite .write_form .frm_info .inputSubject {
	min-width: 500px;
	height: 34px;
	text-indent: 10px;
	border: 1px solid #aaa;
	box-sizing: border-box;
}
#boardWrite .write_form .frm_info .inputPassword {
	width: 220px;
	height: 34px;
	text-indent: 10px;
	border: 1px solid #aaa;
	box-sizing: border-box;
}
#boardWrite .write_form .frm_cont {
	width: 100%;
	overflow: hidden;
}
#boardWrite .write_form .frm_cont textarea {
	width: 898px;
	box-sizing: border-box;
}
#boardWrite .write_form .btn_wrap {
	width: 100%;
	overflow: hidden;
	margin: 40px 0 0;
}
#boardWrite .write_form .btn_wrap ul {
	float: right;
}
#boardWrite .write_form .btn_wrap ul li {
	float: left;
}
#boardWrite .write_form .btn_wrap ul li:first-child {
	margin-right: 10px;
}
#boardWrite .write_form .btn_wrap ul li a {
	cursor: pointer;
}


/* VIEW */
#boardView .view_content {
	width: 100%;
	overflow: hidden;
}
#boardView .view_content .board_navi {
	width: 100%;
	overflow: hidden;
	margin: 40px 0 20px;
	font-family: 'NanumSquare';
	font-size: 17px;
	font-weight: bold;
}
#boardView .view_content .bo_title {
	width: 100%;
	overflow: hidden;
	padding: 0 10px 10px;
	box-sizing: border-box;
	margin: 0 0 20px;
	border-bottom: 1px solid #003366;
}
#boardView .view_content .bo_title h3 {
	width: 980px;
	float: left;
	font-family: 'NanumSquare';
	font-size: 24px;
	font-weight: bold;
}
#boardView .view_content .bo_title p {
	width: 100px;
	float: right;
	font-weight: 300;
	line-height: 30px;
}
#boardView .view_content .bo_content {
	width: 100%;
	overflow: hidden;
	padding: 15px 10px 60px;
	box-sizing: border-box;
	border-bottom: 1px solid #003366;
	word-break: break-all;
}
#boardView .btn_wrap {
	width: 100%;
	overflow: hidden;
	margin: 20px 0 0;
}
#boardView .btn_wrap ul {
	float: right;
}
#boardView .btn_wrap ul li {
	float: left;
	margin-left: 10px;
}
#boardView .btn_wrap ul li:first-child {
	margin-left: 0;
}
#boardView .delete_confirm {
	width: 400px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	margin-left: -200px;
	border: 1px solid #003366;
	padding: 10px 20px;
	box-sizing: border-box;
	background: #fff;
	text-align: center;
	display: none;
}
#boardView .delete_confirm p {
	font-size: 17px;
	font-weight: bold;
	font-family: 'NanumSquare';
	margin: 0 0 5px;
}
#boardView .delete_confirm > div {
	width: 100%;
	overflow: hidden;
	padding: 5px 0;
}
#boardView .delete_confirm > div input {
	width: 200px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #aaa;
}


/* TERMS */

#terms {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#terms .title {
	width: 100%;
	overflow: hidden;
	margin: 30px 0 30px;
	padding: 0 0 5px;
	border-bottom: 1px solid #003366;
}
#terms .title h2 {
	font-family: 'NanumSquare';
	font-size: 28px;
	font-weight: bold;
	color: #003366;
}
#terms .content {
	width: 100%;
	overflow: hidden;
	padding: 0 10px 20px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	margin: 0 0 50px;
}
#terms .content h4 {
  font-size: 1.4rem;
  font-weight: 700;
  display: table;
  border-bottom: 1px solid #000;
  padding: 20px 0 0;
  margin: 0 0 15px;
}
#terms .content h5 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 20px 0 10px;
}
#terms .content p {
  font-size: 1rem;
  line-height: 1.6em;
  word-break: keep-all;
  margin: 0 0 8px;
  font-weight: 300;
}
#terms .content > ul > li {
  font-size: 1rem;
  line-height: 1.6em;
  margin: 0 0 15px;
  word-break: keep-all;
}
#terms .content > ul > li ul li {
  padding-left: 20px;
  line-height: 1.6em;
  margin: 3px 0;
  font-weight: 300;
}
#terms .content table {
  width: 100%;
  overflow: hidden;
  margin: 0 0 20px;
}
#terms .content tr th {
  padding: 5px 10px;
  background: lightgrey;
  border: 1px solid #000;
  font-size: 1rem;
  text-align: center;
}
#terms .content tr td {
  padding: 5px;
  border: 1px solid #000;
  font-size: 1rem;
  word-break: keep-all;
}
#terms .content .terms_type1 {
  width: 20%;
}
#terms .content .terms_type2 {
  width: 40%;
}
#terms .content .terms_type3 {
  width: 20%;
}
#terms .content .terms_type4 {
  width: 20%;
}


/* FAQ */
#faq .category_list ul li {
	/*width: 14.28%;*/
	padding: 0 20px;
}
#faq .faq_wrap {
	width: 100%;
	overflow: hidden;
	border-top: 2px solid #003366;
}
#faq .faq_wrap  .none_empty {
	text-align: center;
}
#faq .faq_wrap > div {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
#faq .faq_wrap > div .faq_tit {
	width: 100%;
	min-height: 44px;
	overflow: hidden;
	position: relative;
	padding: 10px 10px;
	cursor: pointer;
	box-sizing: border-box;
}
#faq .faq_wrap > div .faq_tit p {
	font-size: 16px;
	font-weight: 500;
	float: left;
	width: 140px;
	line-height: 24px;
	color: #666;
}
#faq .faq_wrap > div .faq_tit strong {
	width: 870px;
	float: left;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #222;
}
#faq .faq_wrap > div .faq_tit i {
	font-size: 16px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin: -8px 0 0 0;
	color: #666;
}
#faq .faq_wrap > div .faq_cont {
	width: 100%;
	height: 0;
	overflow: hidden;
	background: #f5f5f5;
	transition: all .3s;
}
#faq .faq_wrap > div .faq_cont > div {
	padding: 10px 50px 10px 150px;
	box-sizing: border-box;
	color: #454545;
}
#faq .faq_wrap > div .faq_cont .faq_btn {
	clear: both;
	margin: 20px 0 10px;
	float: right;
}
#faq .faq_wrap > div .faq_cont .faq_btn li {
	float: left;
	margin-left: 20px;
}
#faq .faq_wrap > div .faq_cont .faq_btn li {
	font-size: 13px;
}
#faq .faq_wrap > div .faq_cont .faq_btn li input {
	width: 200px;
	height: 27px;
	text-indent: 5px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
}
#faq .faq_wrap > div .faq_cont .faq_btn li button {
	vertical-align: top;
}
#faq .btn_wrap a {
	float: right;
}


#fee {
	width: 1000px;
	margin: 40px auto 70px;
	overflow: hidden;
}
#fee h2 {
	font-size: 30px;
	font-family: 'NanumSquare';
	font-weight: 900;
	text-align: center;
	margin: 0 0 50px;
}
#fee h3 {
	font-size: 20px;
	font-weight: bold;
	font-family: 'NanumSquare';
	margin: 0 0 20px;
}
#fee .trade_fee {
	width: 100%;
	overflow: hidden;
	margin: 0 0 60px;
}
#fee .trade_fee p {
	font-size: 17px;
	font-family: 'NanumSquare';
}
#fee .trade_fee table {
	width: 100%;
	margin: 20px 0;
}
#fee .trade_fee table th {
	background: #efefef;
	border-bottom: 2px solid #003366;
	padding: 10px 0;
	border-left: 1px solid #bbb;
	font-size: 17px;
}
#fee .trade_fee table td {
	width: 33.33%;
	border-left: 1px solid #bbb;
	padding: 10px 0;
	text-align: center;
	font-size: 17px;
	font-family: 'NanumSquare';
	border-bottom: 1px solid #bbb;
}
#fee .trade_fee table th:first-child,
#fee .trade_fee table td:first-child {
	border-left: none;
}
#fee .trade_fee dl {
	width: 100%;
	overflow: hidden;
	margin: 60px 0 0;
}
#fee .trade_fee dl dt {
	font-size: 19px;
	font-weight: 900;
	font-family: 'NanumSquare';
	color: #003366;
	margin: 0 0 15px;
}
#fee .trade_fee dl dd {
	font-size: 17px;
	font-family: 'NanumSquare';
	line-height: 1.6em;
}
#fee .withdraw_fee {
	width: 100%;
	overflow: hidden;
}
#fee .withdraw_fee table {
	width: 100%;
}
#fee .withdraw_fee table th {
	font-size: 19px;
	font-family: 'NanumSquare';
	background: #efefef;
	border-bottom: 2px solid #003366;
	padding: 10px 0;
}
#fee .withdraw_fee table td {
	width: 50%;
	border-bottom: 1px solid #bbb;
	padding: 10px 0;
	text-align: center;
	font-size: 17px;
	font-family: 'NanumSquare';
	font-weight: bold;
}
#fee .withdraw_fee table th:first-child,
#fee .withdraw_fee table td:first-child {
	border-right: 1px solid #bbb;
}
#fee .withdraw_fee table tbody tr:nth-child(even) td {
	background: #f9f9f9;
}
#fee .withdraw_fee p {
	font-size: 17px;
	font-family: 'NanumSquare';
	margin: 20px 0 0;
}


#infoUse {
	width: 1000px;
	margin: 40px auto 70px;
	overflow: hidden;
}
#infoUse h2 {
	font-size: 30px;
	font-family: 'NanumSquare';
	font-weight: 900;
	text-align: center;
	margin: 0 0 50px;
}
#infoUse h3 {
	font-size: 20px;
	font-weight: bold;
	font-family: 'NanumSquare';
	margin: 0 0 20px;
}
#infoUse h5 {
	font-size: 18px;
	font-weight: bold;
	font-family: 'NanumSquare';
	margin: 0 0 15px;
}
#infoUse > div {
	width: 100%;
	overflow: hidden;
	margin: 0 0 100px;
}
#infoUse table {
	width: 100%;
	margin: 20px 0 30px;
}
#infoUse table th {
	padding: 10px 0;
	border-left: 1px solid #bbb;
	font-family: 'NanumSquare';
	font-size: 18px;
	background: #efefef;
	border-bottom: 2px solid #003366;
}
#infoUse table td {
	padding: 10px 0;
	border-left: 1px solid #bbb;
	font-size: 17px;
	font-family: 'NanumSquare';
	text-align: center;
	border-bottom: 1px solid #bbb;
}
#infoUse table th:first-child,
#infoUse table td:first-child {
	border-left: none;
}
#infoUse dl {
	width: 100%;
	overflow: hidden;
	margin: 0 0 10px;
}
#infoUse dl dt {
	max-width: 150px;
	float: left;
	font-size: 17px;
	font-weight: bold;
	font-family: 'NanumSquare';
}
#infoUse dl dd {
	width: 840px;
	float: left;
	margin-left: 10px;
	font-size: 17px;
	font-family: 'NanumSquare';
	word-break: keep-all;
}
#infoUse p {
	font-size: 17px;
	font-family: 'NanumSquare';
}
#infoUse ul li {
	font-size: 17px;
	font-family: 'NanumSquare';
	line-height: 1.7em;
}
#infoUse .quantity table tbody tr:nth-child(even) {
	background: #f9f9f9;
}
#infoUse .quantity table td {
	width: 50%;
}
#infoUse .withdraw_limit > div {
	width: 100%;
	overflow: hidden;
}
#infoUse .withdraw_limit > div p {
	float: left;
}
#infoUse .withdraw_limit > div .link_more {
	float: right;
	background: #003366;
	color: #fff;
	display: block;
}
#infoUse .withdraw_limit > div .link_more i {
	padding-right: 3px;
}
#infoUse .withdraw_limit table .th_tit {
	width: 300px;
}
#infoUse .withdraw_limit table .td_lev {
	width: 175px;
}
.lv_hide {
	display: none;
}