<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<title>비트나루(BITNARU) | 글로벌 암호화폐 거래소</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<meta name="title" content="비트나루(BITNARU) | 국제 암호화폐 거래소">
	<meta name="description" content="전 세계 암호화폐를 연결하는 글로벌 암호화폐 거래소 '비트나루'(BITNARU)">
	<meta name="keywords" content="비트코인, 비트코인캐시, 이더리움, 리플, 링커코인, 가상화폐, 암호화폐, 이더리움클래식">
	<meta name="og:title" content="비트나루(BITNARU) | 국제 암호화폐 거래소">
	<meta name="og:description" content="전 세계 암호화폐를 연결하는 글로벌 암호화폐 거래소 '비트나루'(BITNARU)">
	<!-- Favicon -->
	<link rel="icon" href="/bitnaru_favi.png">
	<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->

	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<link href="/css/mobile.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://bitnaru.com/js/jquery.js"></script>
	<script type="text/javascript" src="https://bitnaru.com/js/site.js"></script>

	
	<!-- // WIDERPLANET  SCRIPT END 2018.5.25 -->
<!--
	<script type="text/javascript">
		if (document.location.protocol == 'http:') {
		    document.location.href = document.location.href.replace('http:', 'https:');
		}
	</script>
-->
	<script type="text/javascript">
		$(document).ready(function() {
			 var agent = navigator.userAgent.toLowerCase(); 
			 if ( navigator.appName == "Microsoft Internet Explorer" || agent.search( "trident" ) > -1) {
			 	$('body').append('<div id="ieWarn"><div class="txt_wrap"><h3><i class="xi-error"></i>비트나루는 IE(인터넷 익스플로러)를 지원하지 않습니다.</h3><p>크롬, 엣지, 파이어폭스를 사용하시기 바랍니다.</p><div class="link_wrap"><a href="https://www.google.co.kr/chrome/index.html" target="_blank"><i class="xi-chrome"></i>크롬 다운로드 페이지 </a><a href="https://www.microsoft.com/ko-kr/windows/microsoft-edge" target="_blank"><i class="xi-edge"></i>엣지 다운로드 페이지 </a><a href="https://www.mozilla.org/ko/firefox/" target="_blank"><i class="xi-firefox"></i>파이어폭스 다운로드 페이지 </a></div></div></div>');
			 }
		})
	</script>
</head>
<body>

<div id="blind">
    <span><i class="xi-spinner-2 xi-spin"></i></span>
</div>